/* .mainContainerPost {
  background-color: var(--linkedin-white);
  border-radius: 10px;
}
.userPicturePost {
  width: 50px;
  height: 50px;
  object-fit: fill;
  border-radius: 50%;
}
.userPostBtn {
  margin-top: 10px;
  border: 1px solid var(--linkedin-white-grey);
  background-color: var(--linkedin-white);
  height: 45px;

  border-radius: 20px;
  font-weight: bold;
  color: var(--linkedin-dark-grey);
}
.userPostIcons {
  justify-content: space-between;
  align-items: center;
}
.share-box-feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: none;
  align-items: baseline;
}
.share-box-btn {
  border: none;
  border-radius: 5px;
  background-color: var(--linkedin-white);
}
.share-box-btn:hover {
  background-color: var(--linkedin-white-grey);
} */
