.footer-main {
  display: flex;
  font-size: 12px;
  font-weight: 700;
  margin-block-end: 30px;
  line-height: 30px;
  color: gray;
  justify-content: space-between;
}
.list-group-item {
  position: relative;
  background: transparent;
  border: none;
  padding: none;
  font-size: 12px;
  line-height: 10px;
  font-weight: 500;
}
.DropdownButton {
  position: relative;
  background: transparent;
  border: none;
  padding: none;
  font-size: 12px;
  line-height: 10px;
  font-weight: 500;
}

.select-language {
  width: 300px;
  margin: 0 auto;
}

.select-language-form button {
  width: 100%;
  text-align: left;
  background-color: white;
  color: gray;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  padding-inline: 10px !important;
  font-size: 12px;
  height: 32px;
  font-weight: 900;
  font-family: inherit;
}

.show > .btn-primary.dropdown-toggle {
  color: #000 !important;
  background-color: #ffffff !important;
  border-color: #282828 !important;
}

.btn-primary:hover {
  color: #000 !important;
  background-color: #ffffff !important;
  border-color: #282828 !important;
}

.questions {
  line-height: 20px;
}
