:root {
  /*color palette*/
  --linkedin-dark-blue: #0a66c2;
  --linkedin-light-blue: #70b5f9;
  --linkedin-grey: rgba(102, 102, 102, 0.6);
  --linkedin-green: #7fc15e;
  --linkedin-brown: #915907;
  --linkedin-orange: #e7a33e;
  --linkedin-salmon: #f5987e;
  --linkedin-bg-off-white: #f3f2ef;
  --linkedin-white: #ffffff;
  --linkedin-black: rgba(0, 0, 0, 0.9);
  --linkedin-white-grey: #e8e5df;
}

.search-model {
  position: absolute;
  left: 0;
  top: 45px;
  border: 1px solid var(--linkedin-white-grey);
  width: 420px;
  background-color: white;
  border-radius: 10px;
  padding-block: 15px;
}

.search-image {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-inline-end: 15px;
}

.search-results {
  cursor: pointer;
  padding-block: 5px;
}
.search-results:hover {
  background-color: rgb(237, 237, 237);
}

.career {
  width: 220px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
